<template>
    
  <div class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-btn color="primary" label="Get Data"
            @click="updateData({})" />
    </div>
    
     <q-table
      title="Data"
      :columns="columns"
      :rows="setDat"
      row-key="id"
    >

        <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn size="sm" :disabled=" props.row.squard== undefined" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left">
                <q-item 
                    v-for="task in props.row.squard"
                    :key="task.name"
                    v-ripple>

                    <q-item-section>
                        <q-item-label> 
                            {{ task.name}}
                        </q-item-label>
                    </q-item-section>
                     <q-item-section>
                        <q-item-label> 
                            {{ task.age}}
                        </q-item-label>
                    </q-item-section>
                     <q-item-section>
                        <q-item-label> 
                            {{ task.hobbies}}
                        </q-item-label>
                    </q-item-section>

                </q-item>
            </div>
          </q-td>
        </q-tr>
      </template>

    </q-table>

  </div>
</template>

<script>
import { defineComponent } from 'vue'
import {mapGetters, mapActions, mapState} from "vuex"

const columns = [
   {
    name: 'name',
    required: true,
    label: 'Name',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'age', label: 'Age', field: 'age', sortable: true },
  { name: 'hobbies', align: 'center', label: 'Hobbies', field: 'hobbies', sortable: true }
]

export default defineComponent({
  name: 'PageIndex',
    computed: {
        ...mapGetters('example', ['dataTable', 'setDat'])
    }, 
    methods: {
        ...mapActions('example', ['updateData'])
    },
    setup () {
    return {
      columns
    }
  }
})
</script>
