<template>
  <q-page class='q-pa-md'>
    <q-list bordered padding>

      <q-item 
        v-for="task in tasks"
        :key="task.id"
        @click="updateTask({id:task.id, completed:!task.completed})"
        :class="!task.completes ? 'bg-oranges-1' : 'bg-green-1'"
        clickable
        v-ripple>
        <q-item-section side top>
          <q-checkbox v-model="task.completed" />
        </q-item-section>

        <q-item-section>
            <q-item-label
            :class="{'text-strikethrough' : task.completed}"> 
            {{ task.name}} </q-item-label>
        </q-item-section>

        <q-item-section side>
            <div class="row">
                <div class="column justify-center">
                    <q-icon
                    name="event"
                    size="18px"
                    class="q-mr-xs" />
                </div>
                <div class="column">
                    <q-item-label
                    class='row justify-end' 
                    caption>
                    {{ task.dueDate }}
                    </q-item-label>
                     <q-item-label
                    class='row justify-end' 
                    caption>
                    <small>{{ task.dueTime }}</small>
                    </q-item-label>
                </div>
            </div>
        </q-item-section>
      </q-item>

    </q-list>
  </q-page>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    computed: {
        ...mapGetters('tasks', ['tasks'])
    }, 
    methods: {
        ...mapActions('tasks', ['updateTask'])
    }
}
</script>
