<template>
  <router-view />
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>
<style>
 .text-strikethrough {
     text-decoration: line-through;
 }
</style>
